@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-container {
    @apply mx-auto max-w-[1920px];
  }
  .hero-background {
    @apply w-full bg-heroImg bg-contain bg-top bg-no-repeat;
  }
  .heroText {
    @apply text-[1rem] text-[#6F757C] max-sm:text-sm md:text-xl;
  }
  .labelText {
    @apply m-2 text-[1.25rem] text-[#FEF7EE];
  }
}
@layer base {
  body {
    @apply bg-[#111315] text-[#FEF7EE];
  }
  main {
    @apply bg-[#1B1D1F];
  }
  h1 {
    @apply text-[2rem] font-bold;
  }
  td {
    padding: 10px;
  }
  table thead th {
    padding: 10px;
    border: 1px solid #54585d;
  }
  td {
    border: 1px solid #dddfe1;
    text-align: center;
  }
  tr td:nth-child(1) {
    text-align: left;
  }

  tbody tr {
    background-color: #2f3031;
  }
  tbody tr:nth-child(odd) {
    background-color: #4b4a4a;
  }
}
